PyQt6>=6.2
PyQt6-Qt6>=6.2
PyQt6-sip>=13.2
dotenv
opencv-python
pyautogui
opencv-python
mediapipe
deepface
matplotlib
numpy
tf-keras
keras==2.11.0
tensorflow==2.11.0
protobuf==3.20.3
PyQt6
plotly
PyQt6-WebEngine